.quest{
    text-align: center;
    margin: 1em;
}

.contact{

    margin-top: 1em;
}

footer{
    padding: 1em;
    margin: 0.5em;
    font-family: 'Inter', serif;
}
body{
    background-color: #E4E4E4;
}
.card{
    margin: 0.5em;
    border-radius: 8px;
}

.quest {
    font-family: 'Inter', serif;
}