html, body {
    margin: 0;
    padding: 0;
}

.tete {
    height:auto;
    position:relative;
    background-color: #23ADA5;
    justify-content: space-between;
    text-align: center;
}



.tete_nav{

}

.global{
    border-collapse: collapse;
    width: 100%;

}

.contact{
    border: #AAAAAA;
    margin: 10px;
    padding: 10px;
}

th{
    color: white ;
}
.contact:hover {
    background:#EA6200;
}
form {
    margin: 10px;
}
