{% extends 'base.html.twig' %}


{% block title %}
    Vétérinaire - Planning
{% endblock %}

{% block body %}
    {{ include('_header.html.twig') }}
    {{ include('veterinaire/_navbar.html.twig', { current_page: 'planning'}) }}

    <div id="calendrier">
    </div>
{% endblock %}

{% block javascripts%}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView : 'timeGridWeek',
                locale : 'fr',
                timeZone : 'Europe/Paris',
                headerToolbar : {
                    start: 'prev,next today',
                    center : 'title',
                    end : '',
                },
                eventClick: function(info) {
                    alert('Event: ' + info.event.id);
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    alert('View: ' + info.view.type);

                },
                events : {{ data|raw }},
                editable : true,

            })


            calendar.render();
        }

    </script>
{% endblock %}