{% extends 'base.html.twig' %}

{% block title %}
    Vétérinaire - Infos
{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    {{ include('veterinaire/_navbar.html.twig', { current_page: 'infos'}) }}
    <style>
        body {
            overflow-y: hidden;
            background: #E4E4E4;
        }
        .main {
            background-color: #E4E4E4;
        }
        .info_section {
            margin: 100px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
        }
        span {
            font-size: 2em;
            margin: 15px 15px 50px;
            color: #2DCAC0;
        }
        .champ {
            border-style: solid;
            border-color: #E4E4E4;
            margin: 10px 10px 5px;
        }
        .validation {
            border-style: none;
            background-color: #2DCAC0;
            color: white;
            width: 50%;
            text-align: center;
            margin: 30px auto 80px;
        }
    </style>
    <div class="main">
        <div class="info_section">
            <span>Mes informations</span>
    <div class="champ">{{ user.nomPers }}</div>
    <div class="champ">{{ user.pnomPers }}</div>
    <div class="champ">{{ user.telPers }}</div>
            <button class="validation">Valider</button>
        </div>
    </div>

{% endblock %}



