{% extends 'base.html.twig' %}

{% block title %}
    Suppression de votre consultation
{% endblock %}

{% block body %}
    <h1>Suppression de votre consultation</h1>
    {{ include('consultation/_formdelete.html.twig', {form : form,label_submit: 'Supprimer'}, with_context = false) }}
{% endblock %}