{% extends 'base.html.twig' %}

{% block title %}Liste des Consultations
    <style>
        .main {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    <h1> Liste des Consultations</h1>
    <ul>
        {% for cons in consultations %}
            <li><p class="main">Description : </p><p>{{ cons.consultationDesc }}</p> </li>
            <li><p>Motif : </p><p> {{cons.motifConsultation}}</p></li>
            <li><p>Date de rendez-vous : </p><p> en travaux</p></li>
            <br>

{% endfor %}
    </ul>
{% endblock %}
