{% extends 'base.html.twig' %}

{% block title %}Liste des Consultations
    <style>
         {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    <h1> Liste des Consultations</h1>
    <ul>
        {% for cons in consultations %}
            <li > <p class="main">Motif : {{cons.motifConsultation}}</p></li>
                <p class="main">Description : </p><p>{{ cons.consultationDesc }}</p>

            <p>Date de rendez-vous :  {{ cons.dateConsultation|date() }}</p>
            <br>

{% endfor %}
    </ul>
{% endblock %}
