<ul class="contacts">
    {% for animal in lstAnimal %}
        <li>
            <a href="{{ path('app_animal_show', {'id': animal.id }) }}">
                <span class="animal">
                    <span class="nomAnimal">{{ animal.nomAnimal }} : </span>
                    <span class="Espece">{{ animal.EspeceAnimal}}</span>
                </span> </a>
        </li>
    {% endfor %}
    <ul>