<ul class="contacts">
    {% for animal in lstAnimal %}
        <li>
            <a href="/client/{{ animal.client.id }}/{{ animal.id }}">
                <span class="animal">
                    <span class="nomAnimal">{{ animal.nomAnimal }} : </span>
                    <span class="firstname">{{ animal.EspeceAnimal}}</span>
                </span> </a>
        </li>
    {% endfor %}
    <ul>