{% extends 'base.html.twig' %}

{% block title %}
    Suppression de {{ animal.nomAnimal}}
{% endblock %}

{% block body %}
    <h1>Suppression de {{ animal.nomAnimal}}</h1>
    {{ include('animal/_formDelete.html.twig', {form : form,label_submit: 'Supprimer'}, with_context = false) }}
{% endblock %}

