{% extends 'base.html.twig' %}

{% block head %}
{% endblock%}

{% block title %}Accueil Vetonat {% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <div class="message">
        <img  class="cat" alt="" src="/img/acceuil/chat_acceuil.png">
        <div class="légende"><h1 class="rdv">Prenez <a href="#" >rendez-vous en ligne</a> chez votre vétérinaire </h1></div>
    </div>
    <footer>
        <div class="title_foot"><h2 class="message2">Comment prendre rendez vous chez votre vétérinaire en ligne </h2></div>
        <div class = "lst_inf">
            <div class = "info">
                <h3>Connectez-vous à votre compte client</h3>
                <p>Accédez à votre espace personnel en vous connectant sur votre compte client afin de retrouver toutes les informations vous conçernant.</p>
            </div>

            <div class = "info">
                <h3>Choisissez un créneau</h3>
                <p>Accédez au calendrier des vétérinaires en temps réel et choisissez la date et l’heure qui vous conviennent. Remplissez ensuite les informations utiles et nécessaire à la consultation</p>
            </div>

            <div class = "info">
                <h3>Votre rendez-vous est confirmé !</h3>
                <p>Le vétérinaire est informé et vous n’avez plus qu’a vous rendre chez votre vétérinaire. </p>
            </div>
        </div>
    </footer>
{% endblock %}
