{% extends 'base.html.twig' %}

{% block title %}Acceuil Client{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/client.css') }}>
{% endblock %}

{% block body %}
    <p>Rajouter header + formulaire</p>
    <div class="footer_navbar">
        {% block footer %}{% endblock %}
    </div>
{% endblock %}
-