<style>
    nav {
        height:auto;
        position:relative;
        background-color: #23ADA5;
        display:flex;
        align-items:center;
        justify-content:space-around;
        text-align: center;
    }

    .list_navbar {
        display: flex;
        width:auto;
        margin: 0 30px;
    }

    .list_navbar a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    a:hover {
        background-color: white;
        color: black;
    }

    .navbar_client_infos {
        display:flex;
        flex-direction: row;
        text-align: center;
    }
</style>

<nav class="navbar_client">
    <ul class="navbar_client_infos">
        <li class="list_navbar"><a href="#">Mes Rendez-Vous</a></li>
        <li class="list_navbar"><a href="#">Consultation urgente</a></li>
        <li class="list_navbar"><a href="#">Contacter votre vétérinaire</a></li>
        <li class="list_navbar"><a href="#">FAQ</a></li>
        <li class="list_navbar"><a href="#">Se Déconnecter</a></li>
    </ul>
</nav>
