{% extends 'client/_baseClient.html.twig' %}

{% block title %}Acceuil Client
{% endblock %}

{% block footer %}
    {{ include('client/_navbar.html.twig', { current_page: 'contact'}) }}
    <div class="contact">
        <div class="contact_clinique">
            <h3>Contacter la clinique</h3>
            <ul>
                {% for clinique in cliniques %}
                <li>{{ clinique.telClinique }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="contact_veterinaire">
            <h3>Contacter les vétérinaires</h3>
            <ul>
                {% for veterinaire in veterinaires %}
                    <li>{{ veterinaire.personne.telPers }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
